
.img-name{
    text-align: center;
    margin: 0;
    font-weight: bold ;
}


.text-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text-precio {
    font-weight: bold;
    margin-top: 1rem;
}

.btn-comprar{
    background-color: black;
    color: white;
    border-radius: 10px;
}

.bag{
    display: none;
}


@media (max-width: 605px){
    .precio {
        display: none;
    }

    .nombre{
        display: none;
    }

    .comprar {
        display: none;
    }

    .bag{
        display: block;
    }
}

@media (min-width: 606px) and (max-width: 991px){
    .precio {
        display: none;
    }

    .bag{
        display: block;
    }
    .comprar {
        display: none;
    }
}