.cart-img {
    width: 35px;
    height: 35px;
    

}

.cart-logo{
    display: flex;
}

@media (max-width:761px){
    .cart-logo p{
        font-size: small;
    }
    .cart-logo i{
        font-size: x-large;
    }
}